
/* section{
    display: flex;
    flex-wrap: wrap;
} */
.Skill{
    margin-bottom: 50px;
    height: 100%;
}
.sub-title span{
    color: #a000e7;
}
.container1{
    width: 500px;
    height: 100%;
    padding: 75px 0px;
    margin-left: 10px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
  }
  
  .call-to-action {
    text-align: center;
  }
  
  .call-to-action h2 {
    font-size: 2rem;
    color: orange; /* Bright purple */
    margin-bottom: 1rem;
  }
  
  #resume-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #a000e7;
    background: transparent;
    border: 2px dashed #a000e7;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #resume-button:hover {
    background-color: greenyellow;
    color: black;
    transform: scale(1.05);
  }
  
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
    margin: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 10px;
    background-color: rgb(255, 255, 255);
    animation: animate 0.2s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: orange;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 50%;
}
.progress-line.arduino span{
    width: 90%;
}
.progress-line.raspberrypi span{
    width: 65%;
}
.progress-line.solidworks span{
    width: 60%;
}
.progress-line.altium span{
    width: 70%;
}
.progress-line.matlab span{
    width: 30%;
}
.progress-line.c span{
    width: 85%;
}
.progress-line.python span{
    width: 80%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    /* background-color: whitesmoke; */
    color: white;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.arduino span::after{
    content: "90%";
}
.progress-line.raspberrypi span::after{
    content: "65%";
}
.progress-line.solidworks span::after{
    content: "60%";
}
.progress-line.altium span::after{
    content: "70%";
}
.progress-line.matlab span::after{
    content: "30%";
}
.progress-line.c span::after{
    content: "85%";
}
.progress-line.python span::after{
    content: "80%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}


.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 15;
    stroke: white;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;

}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 15;
    stroke: orange;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}
@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

@media (max-width: 768px) {
    .container1{
        width: 200px;
    }
    .radial-bars .radial-bar svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 80px;
        height: 100px;
    }
    .heading1{
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
    }
    .bar{
        font-size: 13px;
    }
}
